GITHUB_TOKEN=ghp_xxx_fine_grained_solo_repo_Lefinor
CF_ACCESS_TOKEN=xxx
CF_ACCESS_TEAM_DOMAIN=tuequipo.cloudflareaccess.com
CF_ACCESS_AUD=xxx
CF_ACCOUNT_ID=xxx
CF_ACCESS_APP_ID=xxx
CF_ACCESS_POLICY_ID=xxx
